<h4 class="fw-bold py-3 mb-4">
    <span class="text-muted fw-light">Ventas /</span> Nueva Venta
</h4>

<div class="d-flex justify-content-between">
    <ul class="nav nav-pills flex-column flex-md-row mb-3">
        <li class="nav-item">
            <a class="nav-link " routerLink="../list"><i class="bx bx-user me-1"></i> Listado de Ventas</a>
        </li>
        <li class="nav-item">
            <a class="nav-link active" href="javascript:void(0);"><i class="bx bx-plus me-1"></i> Agregar Venta</a>
        </li>
    </ul>
    <div>
        <button type="button" class="btn btn-outline-secondary d-flex align-items-center" (click)="cancelarVenta()"> <i class='bx bx-x-circle me-1'></i><span>Cancelar Venta</span></button>
    </div>
</div>

<div class="row">
    <div class="col-md-4">
        <div class="card mb-4 card-form">
            <h5 class="card-header">Nueva Venta</h5>

            <hr class="my-0" />
            <div class="card-body">
                    <div class="row">
                        <div class="mb-3 col-md-12">
                            <label for="floatingInput" class="form-label">Buscar Producto</label>
                            <div class="form-floating custom-input ">
                                <input type="search" class="form-control" id="floatingInput"
                                    placeholder="Codigo del Producto" aria-describedby="floatingInputHelp" (keyup.enter)="buscarArticulo(content)" [(ngModel)]="filtroBusqueda"/>
                                <label for="floatingInput"><i class="bx bx-search me-1"></i></label>
                            </div>
                            <!-- <small class="text-primary"
                                *ngIf="myFormReactivoOrd.get('provider')?.hasError('required')">Provider is
                                required.</small> -->
                        </div>
                        <div class="mb-3 col-md-12">
                            <label for="Client" class="form-label">Cliente</label>
                            <select class="form-select" id="Client" aria-label="Default select example"
                                [(ngModel)]="nuevaVenta.cliente!.id" (change)="onSelectChange($event)">
                                <option value="{{c.id}}" *ngFor="let c of clientes">{{c.nombre + ' ' + c.apellido}}</option>
                                <hr>
                                <option value="external-link">Nuevo Cliente...</option>
                            </select>
                            <!-- <small class="text-primary"
                                *ngIf="myFormReactivo.get('Client')?.hasError('required')">Client is
                                required.</small> -->
                        </div>
                    </div>
                    <div class="col-md-12 text-center">
                        <div class="mt-2 btn-group" role="group">
                            <button type="submit" class="btn btn-primary" data-bs-toggle="modal"
                                data-bs-target="#modalEfectivo"> <i class='bx bx-wallet me-1'></i>Pago Efectivo</button>
                            <button type="submit" class="btn btn-outline-secondary" data-bs-toggle="modal"
                                data-bs-target="#modalTarjeta"> <i class='bx bx-credit-card me-1'></i>Pago Tarjeta</button>
                        </div>
                    </div>
            </div>


        </div>
    </div>
    <div class="col-md-8">
        <div class="card">
            <div class="card-header row">
                <div class="col-sm-6 mt-2">
                    <h3 class="text-primary mb-1">VENTA</h3>
                    <p># {{nuevaVenta.id}}</p>
                </div>
                <div class="col-sm-12 mt-2">
                    <div class="row">
                        <div class="col-sm-4">
                            <h5 class="text-primary mb-1">Sucursal</h5>
                            <p class="mb-0">{{nuevaVenta.puntoDeVenta?.sucursal?.nombre}}</p>
                        </div>
                        <div class="col-sm-4">
                            <h5 class="text-primary mb-1">Punto de Venta</h5>
                            <p class="mb-0">{{nuevaVenta.puntoDeVenta?.numero}}</p>
                        </div>
                        <div class="col-sm-4">
                            <h5 class="text-primary mb-1">Vendedor</h5>
                            <p class="mb-0">{{nuevaVenta.vendedor?.nombre+' '+nuevaVenta.vendedor?.apellido}}</p>
                        </div>
                    </div>
                </div>
            </div>
            <hr class="my-0" />
            <div class="card-body row">
                <div class="col-sm-8 mt-2">
                    <h5 class="text-primary">{{nuevaVenta.tipoDeComprobante?.descripcion}}</h5>
                    <h5 class="text-primary mb-1">Cliente</h5>
                    <p class="mb-0">{{nuevaVenta.cliente?.nombre+' '+nuevaVenta.cliente?.apellido}}</p>
                </div>
                <div class="col-sm-4 mt-2">
                    <div class="d-flex ">
                        <div>
                            <div class="d-flex align-items-baseline justify-content-sm-end">
                                <h5 class="text-primary me-2">Fecha:</h5>
                                <p>{{nuevaVenta.creadaUtc | date:'medium'}}</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <hr class="my-0" />
            <div class="card-footer">
                <div class="table-responsive text-nowrap">
                    <table class="table table-sm">
                        <thead>
                            <tr class="text-center">
                                <th>Codigo</th>
                                <th>Decripcion</th>
                                <th>Tipo de Talle</th>
                                <th>Medida</th>
                                <th>Color</th>
                                <th>Cantidad</th>
                                <th>Precio</th>
                                <th>Subtotal</th>
                                <th>Acciones</th>
                            </tr>
                        </thead>
                        <tbody class="table-border-bottom-0" id="grillaProd">
                            <tr *ngFor="let det of nuevaVenta.lineasDeVenta" class="text-center">
                                <td><i class="fab fa-angular fa-lg text-danger me-3"></i>
                                    <strong>{{det.stock.articulo.codigoArticulo}}</strong>
                                </td>
                                <td>{{det.stock.articulo.descripcion}}</td>
                                <td>{{det.stock.talle.tipoTalle.descripcion}}</td>
                                <td>{{det.stock.talle.medida}}</td>
                                <td>{{det.stock.color.descripcion}}</td>
                                <td>{{det.cantidad}}</td>
                                <td>{{det.precioUnitario | currency}}</td>
                                <td>{{det.precioUnitario * det.cantidad | currency}}</td>
                                <td>
                                    <button class="dropdown-item" type="button" data-bs-toggle="modal"
                                        data-bs-target="#modalEdit" (click)="editProd(det)"><i
                                            class="bx bx-edit-alt me-1"></i></button>
                                    <button class="dropdown-item" type="button" data-bs-toggle="modal"
                                        data-bs-target="#modalCenter" (click)="checkDelete(det.id)"><i
                                            class="bx bx-trash me-1"></i></button>
                                </td>
                            </tr>
                            <tr id="" class="bg-primary text-white">
                                <td colspan="7" class="text-white">Total:</td>
                                <td id="total" class="text-white text-center">{{nuevaVenta.total | currency}}</td>
                                <td></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

<ng-template #modalAdd let-modal>
    <div class="modal-header ">
        <h5 class="modal-title" id="modalCenterTitle">Resumen</h5>
        <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>

    </div>

    <div class="modal-body">
        <div class="card-header row pt-0">
            <div class="col-sm-6 mt-2">
                <h3 class="text-primary mb-1">VENTA</h3>
                <p># {{nuevaVenta.id}}</p>
            </div>
            <div class="col-sm-12 mt-2">
                <div class="row">
                    <div class="col-sm-4">
                        <h5 class="text-primary mb-1">Sucursal</h5>
                        <p class="mb-0">{{nuevaVenta.puntoDeVenta?.sucursal?.nombre}}</p>
                    </div>
                    <div class="col-sm-4">
                        <h5 class="text-primary mb-1">Punto de Venta</h5>
                        <p class="mb-0">{{nuevaVenta.puntoDeVenta?.numero}}</p>
                    </div>
                    <div class="col-sm-4">
                        <h5 class="text-primary mb-1">Vendedor</h5>
                        <p class="mb-0">{{nuevaVenta.vendedor?.nombre+' '+nuevaVenta.vendedor?.apellido}}</p>
                    </div>
                </div>
            </div>
        </div>

        <hr class="my-0" />
        <div class="card-body row">
            <div class="col-sm-8 mt-2">
                <h5 class="text-primary">{{nuevaVenta.tipoDeComprobante?.descripcion}}</h5>
                <h5 class="text-primary mb-1">Cliente</h5>
                <p class="mb-0">{{nuevaVenta.cliente?.nombre+' '+nuevaVenta.cliente?.apellido}}</p>
            </div>
            <div class="col-sm-4 mt-2">
                <div class="d-flex ">
                    <div>
                        <div class="d-flex align-items-baseline justify-content-sm-end">
                            <h5 class="text-primary me-2">Fecha:</h5>
                            <p>{{nuevaVenta.creadaUtc | date:'medium'}}</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <hr class="my-0" />
        <div class="card-footer px-0">
            <div class="table-responsive text-nowrap">
                <table class="table table-sm">
                    <thead>
                        <tr class="text-center">
                            <th>Codigo</th>
                            <th>Decripcion</th>
                            <th>Tipo de Talle</th>
                            <th>Medida</th>
                            <th>Color</th>
                            <th>Cantidad</th>
                            <th>Precio</th>
                            <th>Subtotal</th>
                        </tr>
                    </thead>
                    <tbody class="table-border-bottom-0" id="grillaProd">
                        <tr *ngFor="let det of nuevaVenta.lineasDeVenta" class="text-center">
                            <td><i class="fab fa-angular fa-lg text-danger me-3"></i>
                                <strong>{{det.stock.articulo.codigoArticulo}}</strong>
                            </td>
                            <td>{{det.stock.articulo.descripcion}}</td>
                            <td>{{det.stock.talle.tipoTalle.descripcion}}</td>
                            <td>{{det.stock.talle.medida}}</td>
                            <td>{{det.stock.color.descripcion}}</td>
                            <td>{{det.cantidad}}</td>
                            <td>{{det.precioUnitario | currency}}</td>
                            <td>{{det.precioUnitario * det.cantidad | currency}}</td>
                        </tr>
                        <tr id="" class="bg-primary text-white">
                            <td colspan="7" class="text-white">Total:</td>
                            <td id="total" class="text-white text-center">{{nuevaVenta.total | currency}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <button type="button" class="btn btn-outline-secondary" (click)="modal.close('Click Cancelar')">
            Cancel
        </button>
        <button type="button" class="btn btn-primary ms-2" id="btnBorrado" 
            (click)="confirmarVenta();modal.close('Click Cancelar')" >Confirmar</button>
    </div>
</ng-template>

<div class="modal fade" id="modalCenter" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="modalCenterTitle">¿Quieres eliminar la linea de venta?</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>

            <div class="modal-body">
                <button type="button" class="btn btn-outline-secondary" data-bs-dismiss="modal">
                    Cancel
                </button>
                <button type="button" class="btn btn-danger ms-2" id="btnBorrado" data-bs-dismiss="modal"
                    (click)="deleteProd()">Confirm</button>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="modalEdit" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="modalEdit">¿Quieres editar la linea de venta?</h5>
                <button type="reset" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <form id="formModal" [formGroup]="myFormReactivoProd" (ngSubmit)="onSubmitProd()">
                <div class="modal-body">
                    <div class="row">
                        <div class="mb-3 col-md-6">
                            <h5 class="form-label">Descripcion del Producto</h5>
                            <p class="form-control">{{descripArticuloEdit}}</p>
                        </div>
                        <div class="mb-3 col-md-6">
                            <label for="quantity" class="form-label">Cantidad</label>
                            <input type="number" class="form-control" id="quantity" name="quantity" placeholder="2"
                                formControlName="quantity" />
                            <small class="text-primary"
                                *ngIf="myFormReactivoProd.get('quantity')?.hasError('required')">Cantidad es Requerida.</small>
                            <small class="text-primary" *ngIf="myFormReactivoProd.get('quantity')?.hasError('min')">Debe ser mayor a 1.</small>
                        </div>
                    </div>
                </div> 
                <div class="modal-footer">
                    <button type="reset" class="btn btn-outline-secondary" data-bs-dismiss="modal">
                        Cancel
                    </button>
                    <button type="submit" class="btn btn-warning" data-bs-dismiss="modal">Confirmar</button>
                </div>
            </form>
        </div>
    </div>
</div>

<div class="modal fade" id="modalTarjeta" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog modal-sm" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel2">Detalle de Pago</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <form id="formCompra" [formGroup]="myFormReactivoPago" (ngSubmit)="onSubmitPago(modalAdd)">
                <div class="modal-body">
                    <div class="row">
                        <div class="mb-3 col-md-12">
                            <label for="nombre" class="form-label">Nombre</label>
                            <input type="text" id="nombre" class="form-control" placeholder="Juancito Perez"
                                formControlName="nombre">
                            <!-- <small class="text-primary"
                                            *ngIf="myFormReactivo.get('nombre')?.hasError('required')">nombre is
                                            required.</small> -->
                        </div>
                        <div class="mb-3 col-md-12">
                            <label for="apellido" class="form-label">Apellido (Como figura en la tarjeta)</label>
                            <input type="text" id="apellido" class="form-control" placeholder="Juancito Perez"
                                formControlName="apellido">
                            <!-- <small class="text-primary"
                                            *ngIf="myFormReactivo.get('apellido')?.hasError('required')">apellido is
                                            required.</small> -->
                        </div>
                        <div class="mb-3 col-md-12">
                            <label for="dni" class="form-label">DNI</label>
                            <input type="text" id="dni" class="form-control" placeholder="43211234"
                                formControlName="dni">
                            <!-- <small class="text-primary"
                                            *ngIf="myFormReactivo.get('dni')?.hasError('required')">dni is
                                            required.</small> -->
                        </div>
                        <div class="mb-3 col-md-12">
                            <label for="numeroTarjeta" class="form-label">Numero de Tarjeta</label>
                            <input type="text" id="numeroTarjeta" class="form-control"
                                placeholder="1111 - 2222 - 3333 - 4444" formControlName="numeroTarjeta">
                            <!-- <small class="text-primary"
                                            *ngIf="myFormReactivo.get('numeroTarjeta')?.hasError('required')">numeroTarjeta is
                                            required.</small> -->
                        </div>
                    </div>
                    <div class="row g-2">
                        <div class="col mb-0">

                            <label for="mesVenc" class="form-label">Vencimiento</label>
                            <div class="input-group">
                                <input type="number" class="form-control" id="mesVenc" formControlName="mesVenc" placeholder="Mes">
                                <input type="number" class="form-control" id="anioVenc" formControlName="anioVenc" placeholder="Año">
                            </div>


                            
                        </div>
                        <div class="col mb-0">
                            <label for="codSeg" class="form-label">CVV</label>
                            <input id="codSeg" type="number" class="form-control" formControlName="codSeg" placeholder="223">
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-label-secondary" data-bs-dismiss="modal">Cerrar</button>
                    <button type="submit" class="btn btn-primary" data-bs-toggle="modal"
                    data-bs-dismiss="modal">Guardar Datos</button>
                </div>
            </form>
        </div>
    </div>
</div>


<ng-template #content let-modal>
    <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel1">{{articuloBusqueda.descripcion}} <span class="text-muted"> # {{articuloBusqueda.codigoArticulo}}</span></h5>
        <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
    </div>
    <div class="modal-body">
        <div class="row">
            <div class="mb-3 col-md-6">
                <h5>Categoria</h5>
                <p class="form-control">{{articuloBusqueda.categoria.descripcion}}</p>
            </div>
            <div class="mb-3 col-md-6">
                <h5>Marca</h5>
                <p class="form-control">{{articuloBusqueda.marca.nombre}}</p>
            </div>
            <div class="mb-3 col-md-6">
                <h5>Precio Final</h5>
                <p class="form-control">{{articuloBusqueda.precioFinal}}</p>
            </div>
        </div>
        <div class="table-responsive">
            <table class="table table-bordered table-hover">
                <thead>
                    <tr>
                        <th>Tipo de Talle</th>
                        <th>Talle</th>
                        <th>Color</th>
                        <th>Cantidad</th>
                    </tr>
                </thead>
                <tbody>
                    <tr (dblclick)="onRowDoubleClick(s.id); modal.close('doble click')" *ngFor="let s of articuloBusqueda.stocks">
                        <td><i class="fab fa-angular fa-lg text-danger me-3"></i> <span class="fw-medium">{{s.talle.tipoTalle.descripcion}}</span></td>
                        <td>{{s.talle.medida}}</td>
                        <td>
                            {{s.color.descripcion}}
                        </td>
                        <td>
                            {{s.cantidadDisponible}}
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</ng-template>

<div class="modal fade" id="modalEfectivo" aria-labelledby="modalEfectivoLabel" tabindex="-1" style="display: none;"
    aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="modalEfectivoLabel">Pago en Efectivo</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <form id="formModal" [formGroup]="myFormReactivoEfectivo" (ngSubmit)="onSubmitMonto(modalAdd)">
                <div class="modal-body">
                    <div class="row">
                        <div class="mb-3 col-md-6">
                            <label for="monto" class="form-label">Monto</label>
                            <input type="number" class="form-control" id="monto" name="monto" 
                                formControlName="monto" (input)="calcularVuelto()"/>
                            <small class="text-primary"
                                *ngIf="myFormReactivoEfectivo.get('monto')?.hasError('required')">Monto es requerido.</small>
                            <small class="text-primary" *ngIf="myFormReactivoEfectivo.get('monto')?.hasError('min')">Debe ser mayor a 1.</small>
                        </div>
                        <div class="mb-3 col-md-6">
                            <label for="vuelto" class="form-label">Vuelto</label>
                            <input type="number" class="form-control" id="vuelto" name="vuelto"
                                formControlName="vuelto" />
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-primary" data-bs-toggle="modal"
                        data-bs-dismiss="modal">Pagar</button>
                </div>
            </form>
        </div>
    </div>
</div>

<app-toasts aria-live="polite" aria-atomic="true"></app-toasts>
<ng-template #successTpl> Purchase Order successfully created! </ng-template>

<ng-template #errorTpl> Error: {{infoError}} </ng-template>
<ng-template #infoTpl> {{infoString}} </ng-template>
<app-toast-info aria-live="polite" aria-atomic="true"></app-toast-info>