<!-- <div class="container">

    <h4 class="fw-bold py-3 mb-4">
        <span class="text-muted fw-light">Products-Services /</span> Detail Product-Service
    </h4>
    <ul class="nav nav-pills flex-column flex-md-row mb-3">
        <li class="nav-item ">
            <a class="nav-link active" routerLink="../../list"><i class='bx bx-arrow-back me-2'></i>Back</a>
        </li>
    </ul>
    <div class="row">
        <div class="card col-md-8 p-3">
            <div class="card-boy row g-0">
                <div class="col-md-6">
                    <img src="{{product.imageP}}" alt="" width="100%">
                </div>
                <div class="col-md-6">
                    <img src="{{product.imageP}}" alt="" width="100%">
                </div>
                <div class="col-md-6">
                    <img src="{{product.imageP}}" alt="" width="100%">
                </div>
                <div class="col-md-6">
                    <img src="{{product.imageP}}" alt="" width="100%">
                </div>
            </div>
        </div>
        <div class=" col-md-4">
            <div class="card">
                <div class="card-body">
                    <small># {{product.id}}</small>
                    <h2 class="text-primary">{{product.name}}</h2>
                    <small class="badge bg-label-primary me-1">{{product.category}}</small>
                    <p>{{product.description}}</p>
                    <h2 class="text-primary">{{product.price|currency}}</h2>
                </div>
            </div>
        </div>
    </div>
    <div class="row mt-2">
        <div class="card col-12">
            <div class="row mt-2 card-body gx-3">
                <div class="col-12">
                    <h2 class="text-primary mt-2">Other Provider's Products</h2>
                </div>
                <div class="col-md-3 " *ngFor="let p of products">
                    <div class="card p-2">
                        <a routerLink="../{{p.id}}">
                            <img src="{{p.imageP}}" alt="" width="100%">
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div> -->