<div class="container">

    <h4 class="fw-bold py-3 mb-4">
        <span class="text-muted fw-light">Ventas /</span> Detalle de Venta
    </h4>
    <ul class="nav nav-pills flex-column flex-md-row mb-3">
        <li class="nav-item " >
            <a class="nav-link active" routerLink="../../list"><i class='bx bx-arrow-back me-2'></i>Atras</a>
        </li>
    </ul>
    <div class="card">
        <div class="card-header row">
            <div class="col-sm-6 mt-2">
                <h3 class="text-primary mb-1">VENTA</h3>
                <p># {{venta.id}}</p>
            </div>
            <div class="col-sm-12 mt-2">
                <div class="row">
                    <div class="col-sm-4">
                        <h5 class="text-primary mb-1">Sucursal</h5>
                        <p class="mb-0">{{venta.puntoDeVenta?.sucursal?.nombre}}</p>
                    </div>
                    <div class="col-sm-4">
                        <h5 class="text-primary mb-1">Punto de Venta</h5>
                        <p class="mb-0">{{venta.puntoDeVenta?.numero}}</p>
                    </div>
                    <div class="col-sm-4">
                        <h5 class="text-primary mb-1">Vendedor</h5>
                        <p class="mb-0">{{venta.vendedor?.nombre+' '+venta.vendedor?.apellido}}</p>
                    </div>
                </div>
            </div>
        </div>

        <hr class="my-0" />
        <div class="card-body row">
            <div class="col-sm-8 mt-2">
                <h5 class="text-primary">{{venta.tipoDeComprobante?.descripcion}}</h5>
                <h5 class="text-primary mb-1">Cliente</h5>
                <p class="mb-0">{{venta.cliente?.nombre+' '+venta.cliente?.apellido}}</p>
            </div>
            <div class="col-sm-4 mt-2">
                <div class="d-flex ">
                    <div>
                        <div class="d-flex align-items-baseline justify-content-sm-end">
                            <h5 class="text-primary me-2">Fecha:</h5>
                            <p>{{venta.creadaUtc | date:'medium'}}</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <hr class="my-0" />
        <div class="card-footer">
            <div class="table-responsive text-nowrap">
                <table class="table table-sm">
                    <thead>
                        <tr class="text-center">
                            <th>Codigo</th>
                            <th>Decripcion</th>
                            <th>Tipo de Talle</th>
                            <th>Medida</th>
                            <th>Color</th>
                            <th>Cantidad</th>
                            <th>Precio</th>
                            <th>Subtotal</th>
                        </tr>
                    </thead>
                    <tbody class="table-border-bottom-0" id="grillaProd">
                        <tr *ngFor="let det of venta.lineasDeVenta" class="text-center">
                            <td><i class="fab fa-angular fa-lg text-danger me-3"></i>
                                <strong>{{det.stock.articulo.codigoArticulo}}</strong>
                            </td>
                            <td>{{det.stock.articulo.descripcion}}</td>
                            <td>{{det.stock.talle.tipoTalle.descripcion}}</td>
                            <td>{{det.stock.talle.medida}}</td>
                            <td>{{det.stock.color.descripcion}}</td>
                            <td>{{det.cantidad}}</td>
                            <td>{{det.precioUnitario | currency}}</td>
                            <td>{{det.precioUnitario * det.cantidad | currency}}</td>
                        </tr>
                        <tr id="" class="bg-primary text-white">
                            <td colspan="7" class="text-white">Total:</td>
                            <td id="total" class="text-white text-center">{{venta.total | currency}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>